.mf_diagram_controlNodeContent {
    box-shadow: rgba(0, 52, 102, 0.35) 4px 4px 4px;
    text-align: center;
    /* border: 1px solid #648dae;
    background-color: #cce6ff !important; */
    border: 1px solid #eecda1;
    background-color: #eecda1 !important;
}

#d1 {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 185px;
    margin-bottom: 20px;
    height: 100px;
}

body {
    font-family: Tahoma;
    font-size: 14px;
}

table {
    border-spacing: 0px;
    margin-left: 10px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 12px;
}

select {
    font-family: Tahoma;
    font-size: 14px;
}

td {
    border-left: 1px solid gray;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 8px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /* margin-top: 40px; */
    width: 80%;
    /* background-color: #648dae; */
    background-color: #d2b48c;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
